

/* TEXTAREA textarea */

.textarea-responsive {
    resize: none;
    padding-left: 0.35em;
    padding-right: 0.35em;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.4em;
    vertical-align: middle;
    border-radius: 30px;
    border: solid 4px #aa6bfd;
    font-size: max(min(3vw, 50px), 30px);
    outline: none;
    height: 1.6em;
    overflow: hidden;
    white-space: break-spaces;
    font-weight: 400;
}

.textarea-responsive:focus {
    box-shadow: -10px 5px 15px 0px #aa6bfd95, 10px -5px 15px 0px #5c50fe80;
}


/* ERROR p */

.error {
    color: var(--red);
    font-weight: bold;
    font-style: italic;
    z-index: 1000;
}


/* RESPONSEAREA-RESPONSIVE div */

.responseArea-responsive {
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.4em;
    border-radius: 30px;
    border: solid 4px var(--rosa);
    font-size: max(min(2vw, 25px), 20px);
    height: 1.6em;
}


/* AUFNEHMEN div */

.wrap-button-container {
    width: 30%;
    max-width: 180px;
    max-height: 180px;
    position: relative;
    margin: auto;
    height: 30%;
}


/*https://codepen.io/kocsten/pen/rggjXp*/

.glow-on-hover {
    width: 90%;
    height: 0;
    border: none;
    z-index: 0;
    outline: none;
    background: #111;
    cursor: pointer;
    padding-bottom: 90%;
    border-radius: 50%;
    color: white;
    position: relative;
}

.glow-on-hover img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0.7;
    transition: opacity .3s ease-in-out;
    border-radius: 50%;
}


/*
.glow-on-hover:active {
    color: #000
}*/

.glow-on-hover:active:after {
    top: +2px;
    left: +2px;
    height: calc(100% - 4px);
}

.glow-on-hover:hover:before {
    opacity: 1;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    top: -6px;
    left: -6px;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    color: white;
    border-radius: 50%;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

img#mikrofonIcon {
    transition: 1s;
}


/* WEITERUEBEN btn */

.weiterueben {
    position: absolute;
    margin: auto;
    transform: translate(-50%, -50%);
    left: -60%;
    top: 55%;
    border-radius: 30px;
    font-size: max(min(3vw, 30px), 18px);
    white-space: nowrap;
    opacity: 0;
    z-index: 1;
}


/* ABBRECHEN-WIEDERHOLEN btn */

.abbrechen-wiederholen {
    position: absolute;
    margin: auto;
    transform: translate(-50%, -50%);
    left: 160%;
    top: 55%;
    border-radius: 30px;
    font-size: max(min(3vw, 30px), 18px);
    opacity: 0;
}


/* DROPDOWN div */

.dropdown {
    width: min(275px, 40%);
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: min(18px, 5vw);
    color: #474747;
    height: 100%;
    text-align: left
}

.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}

.dropdown .select>i {
    font-size: 24px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}

.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}

.dropdown:active {
    background-color: #f8f8f8
}

.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8
}

.dropdown.active .select>i {
    transform: rotate(-90deg)
}

.dropdown .dropdown-menu {
    position: relative;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: auto;
    overflow-y: auto;
    z-index: 2
}

.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
}

.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}

.dropdown .dropdown-menu li:hover {
    background-color: #aa6bfd60
}

.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}


/* TODO: EINORDNEN */


/* COLOR CLASSES */

.red {
    color: #e60000;
    white-space: pre-wrap;
    font-size: 1.5em;
    line-height: 1em;
}

.green {
    color: #008000;
    white-space: pre-wrap;
    font-size: 1.5em;
    line-height: 1em;
}

.yellow {
    color: #ead91e;
    white-space: pre-wrap;
    font-size: 1.5em;
    line-height: 1em;
}

.yellow-green {
    color: #9acd32;
    white-space: pre-wrap;
    font-size: 1.5em;
    line-height: 1em;
}

.orange {
    color: #ffa500;
    white-space: pre-wrap;
    font-size: 1.5em;
    line-height: 1em;
}

.lila {
    color: #aa6bfd;
    white-space: pre-wrap;
    font-size: 1.5em;
    line-height: 1em;
}

.collapsible {
    background-color: #bb88fd;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 78%;
    border: none;
    text-align: left;
    justify-content: center;
    display: block;
    outline: none;
    margin: auto;
    margin-top: 1em;
    font-size: min(18px, 3vw);
}

.active2,
.collapsible:hover {
    background-color: #aa6bfd;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active2:after {
    content: "\2212";
}

.content {
    padding: 0 5px;
    max-height: 0;
    width: 92%;
    color: black;
    overflow: hidden;
    margin: auto;
    transition: max-height 0.2s ease-out;
    background-color: #f3eafe;
}

.collapsible-content {
    color: black;
    font-size: min(16px, max(2.75vw, 14px));
    line-height: 1.25em;
}

.farbigeAntwort {
    padding-bottom: 1em;
}

.basis-information-container {
    width: max(70%, min(375px, 95%));
    margin-top: 3.5em;
    text-align: center;
    line-height: 2.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

.basis-information-container strong {
    color: var(--lila);
    font-weight: bold;
}

.feature {
    outline: 3px solid var(--rosa);
    height: 450px;
    width: min(85vw, 400px);
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    position: absolute;
    background-color: var(--light-rosa);
    text-align: center;
    z-index: -1;
    opacity: 0.9;
    transition: 0.5s;
}

.feature.active {
    z-index: 0;
    opacity: 1;
}

.features p {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    /*font-size: max(1.25vh, 15px);*/
}

.features h2 {
    margin-top: 0.5em;
    font-weight: bold;
    color: var(--lila);
}

.feature-button {
    position: relative;
    top: 50%;
    height: 450px;
    border: none !important;
    width: max(5vw, 50px);
    font-size: 2em;
    color: var(--lila);
}

.active-indicator {
    height: 5px;
    width: 5px;
    position: relative;
    background-color: var(--rosa);
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 11;
}

.active-indicator.active {
    height: 5px;
    width: 5px;
    position: relative;
    background-color: var(--lila);
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.active-indicator-wrapper {
    height: 5px;
    display: flex;
    width: 50px;
    text-align: center;
    justify-content: center;
    bottom: -96%;
    padding: 0;
    margin: auto;
    position: relative;
}

.next-feature {
    transform: translate(30%, -50%);
    float: right;
}

.previous-feature {
    transform: translate(-30%, -50%);
    float: left;
}

#js-preloader {
    background-color: var(--white);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1000;
}

#js-preloader.loaded {
    display: none;
}


/* Timeline Container */

.funktionsweise {
    margin: 75px auto;
    justify-content: center;
    display: flex;
    padding: 20px;
    width: max(50%, min(100vw, 350px));
}

.funktionsweise-heading {
    position: absolute;
    margin-left: max(18%, min(50vw, 175px));
    height: 1.5em;
    transform: translateY(-50%);
    font-size: min(24px, max(16px, 5vw));
}


/* Card container */

.card {
    position: relative;
    max-width: 800px;
}


/* setting padding based on even or odd */

.card:nth-child(odd) {
    padding: 30px 0 30px 30px;
}

.card:nth-child(even) {
    padding: 30px 30px 30px 0;
}


/* Global ::before */

.card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid var(--rosa);
}


/* Setting the border of top, bottom, left */

.card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}


/* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */

@media only screen and (max-width: 400px) {
    .card:nth-child(odd)::before {
        top: -5px;
        bottom: -5px;
    }
}


/* Setting the border of top, bottom, right */

.card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}


/* Removing the border if it is the first card */

.card:first-child::before {
    border-top-left-radius: 50px;
}


/* Removing the border if it is the last card  and it's odd */

.card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}


/* Removing the border if it is the last card  and it's even */

.card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}


/* Information about the timeline */

.info {
    display: flex;
    flex-direction: column;
    background: var(--light-rosa);
    color: black;
    border-radius: 10px;
    padding: 10px;
}


/* Title of the card */

.title {
    color: var(--lila);
    position: relative;
}


/* Timeline dot  */

.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid var(--lila);
}


/* text right if the card is even  */

.card:nth-child(even)>.info>.title {
    text-align: right;
}


/* setting dot to the left if the card is odd */

.card:nth-child(odd)>.info>.title::before {
    left: -45px;
}


/* setting dot to the right if the card is odd */

.card:nth-child(even)>.info>.title::before {
    right: -45px;
}


