{% load static %}

<!DOCTYPE html> {% load static %}
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" media="print"
        onload="this.media='all'" />

    <link rel="shortcut icon" href="{% static 'assets/images/Favicon.png' %}" sizes="16x16" type="image/png">
    <link rel="apple-touch-icon" href="{% static 'assets/images/apple-touch-icon.png' %}" />
    <title>Training</title>
    <meta name="description" content="Hier findest Du Übungen, um die Ausprache zu trainieren. Führe dieses Training mehrmals pro Woche durch.">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/global.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/legaltexts.css' %}" type="text/css">


</head>


<body>
    {% include 'header.html' %}
    <div class="training-container">
        <h1>Aussprache Übungen</h1>
        <br>
        <p>Führe diese Übungen über einen längeren Zeitraum alle paar Tage aus, um wichtige Lippen- und Zungenmuskeln aufzubauen.</p>
        <p><b>Nimm Dir für die Übungen einen Spiegel zur Hand, um deine Bewegungen zu Überprüfen. Sonst brauchst du nichts!</b></p>
        <br>
        <div style="display: flex;width: max(min(320px, 95%), 70%);">

            <img src="{% static 'assets/images/cart-icon.svg' %}" width="50px" height="50px" alt="Steinwagen Icon">
            <p style="margin-top:auto;margin-bottom: auto;padding-right: 10px;padding-left: 20px;">Diese Seite befindet
                sich noch in Arbeit.</p>
            <img src="{% static 'assets/images/construction-icon.svg' %}" width="50px" height="50px" alt="Konstruktion Icon">
        </div>
        <h2>Lippenübungen</h2>
        <h3>Übung 1: Lippen breit ziehen / nach vorne</h3>
        <p>Starte mit einem geschlossenen Mund und ziehe die Mundwinkel soweit wie möglich auseinander. Halte die Position für einige Sekunden und strecke die Lippen nun nach vorne wie bei einem Kuss.</p>
        <p>Wiederhole diese Übung 5 Mal.</p>
        <h3>Übung 2: kleine Lippen / weite Lippen</h3>
        <p>Starte mit einem runden, fast geschlossenen Mund, wie bei einem „O“. Ziehe nun die Lippen nach oben und unten bzw. öffne Deinen Mund so weit wie möglich. Gehe anschließend wieder zurück zum „O“.</p>
        <p>Wiederhole diese Übung 3 Mal.</p>
        <h3>Übung 3: Luft ausbalancieren</h3>
        <p>Hole hierfür tief Luft. Lasse die Luft im Mundraum und presse sie bei geschlossenem Mund an die Lippen. Versuche beim Ausbalancieren die Lippen dabei so wenig wie möglich zu bewegen.</p>
        <p>Wiederhole diese Übung 3 Mal.</p>
        <h3>Übung 4: Luft links und rechts halten</h3>
        <p>Atme hierfür nochmal tief ein. Presse nun die Luft abwechselnd nach links und rechts (immer für einige Sekunden halten) innerhalb des Mundes.</p>
        <p>Führe diese Übung ca. eine halbe Minute durch.</p>
        <h3>Übung 5: Kussmund nach links und rechts</h3>
        <p>Starte mit dem Kussmund. Ziehe nun die Lippen - immer noch nach vorne gestreckt - nach links und rechts im Wechsel.</p>
        <p>Wiederhole diese Übung 5 Mal pro Seite.</p>
        
        <h2>Zungenübungen</h2>
        <h3>Übung 1: Zunge entlang der Lippen</h3>
        <p>Öffne den Mund weit. Fahre nun mit der Zunge langsam entlang der Lippen im Kreis.</p>
        <p>2 Umkreisungen pro Richtung.</p>
        <h3>Übung 2: Zunge herausstrecken nach unten und oben</h3>
        <p>Strecke Deine Zunge so weit wie möglich raus und nach unten. Führe sie nun nach oben Richtung Nase.</p>
        <p>5 Mal nach oben und unten.</p>
        <h3>Übung 3: Zunge innerhalb des Mundraums</h3>
        <p>Starte mit der Zungenspitze direkt hinter deinen Zähnen im Mundraum. Tippe nun mit der Zungenspitze immer ein Stück weiter hinten im Mundraum oben an.</p>
        <p>3 Mal von vorne bis hinten.</p>
        <h3>Übung 4: Zungenränder breit und schmal</h3>
        <p>Strecke deine Zunge gerade heraus. Probiere die Zunge schmal zu machen und anschließend sehr breit. Halte die Zunge bei dieser Übung immer in der Luft.</p>
        <p>Wiederhole diese Übung 5 Mal.</p>
        <h3>Übung 5: Zunge in Mundwinkel pressen</h3>
        <p>Presse Deine Zunge abwechselnd mit Kraft in Deine Mundwinkel. Halte für einige Sekunden.</p>
        <p>Wiederhole diese Übung 3 Mal pro Seite.</p>
    </div>
    {% include "footer.html" %}
</body>


</html>