<div class="farbigeAntwort" style="display: flex;flex-wrap: wrap;overflow:hidden;align-items:flex-start;align-content:flex-start;">
    <div style="display:flex;">
    {% for colour, buchstabe in buchstabenscores.values %}
    {% if buchstabe == " " %}
        </div>
    {% endif %}
    <span class="{{ colour }}" style="white-space:break-spaces;">{{ buchstabe }}</span>
    {% if buchstabe == " " %}
        <div style="display:flex;">
    {% endif %}
    {% endfor %}
    </div>
</div>

<!--;height:150px; overflow:auto;-->