{% load static %}

<footer id="footer" style="background-image: url({% static 'assets/images/footer.svg' %});">
    <div class="footer-space"></div>

    <div class="grid-container">
        <div class="grid-item">
            <h2>Kontakt</h2>
            <p>Daniel Busch</p>
            <a class="appear-as-p" href="mailto:Daniel%20Busch%20%3Ckontakt@aussprachetrainer.org%3E">kontakt@aussprachetrainer.org</a>
            <br>
            <a class="appear-as-p" href="{% url 'privacy_policy' %}">Datenschutzerklärung</a>
            <br>
            <a class="appear-as-p" href="{% url 'terms' %}">Nutzungsbedingungen</a>
            

        </div>
        <div class="grid-item">
            <h2>Projekt</h2>
            <a class="appear-as-p" href="https://github.com/dakopen/AusspracheTrainer">GitHub</a>
            <br>
            <a class="appear-as-p" href="{% url 'sources' %}">Quellen</a>
            <br>
            <a href="/" alt="Homepage"><img src="{% static '/assets/images/AT-default.svg' %}" width="75px" alt="AusspracheTrainer Logo"></a>

        </div>
    </div>


</footer>