<!DOCTYPE html> {% load static %}
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" media="print"
        onload="this.media='all'" />

    <link rel="shortcut icon" href="{% static 'assets/images/Favicon.png' %}" sizes="16x16" type="image/png">
    <link rel="apple-touch-icon" href="{% static 'assets/images/apple-touch-icon.png' %}" />
    <title>AusspracheTrainer</title>
    <meta name="description" content="Der AusspracheTrainer hilft dabei, die Artikulation zu verbessern. Verständlichkeit im Alltag und Sprachfehler frühzeitg erkennen gehören zu seinen Kernfeatures.">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/global.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/index.css' %}" type="text/css">


</head>


<body>

    <div id="js-preloader" style="margin:auto;">
        <img src="{% static 'assets/images/lade-symbol.svg' %}" width="auto"
            style="position:absolute;margin:auto;top:0;left:0;right:0;bottom:0;" alt="lädt...">
            <noscript><h3 style="padding-left:5%;padding-top: 10%;">Bitte aktiviere JavaScript, um den AusspracheTrainer zu benutzen.</h3></noscript>
    </div>
    {% include 'header.html' %}


    
    <div>
        <p align="center">
            <textarea placeholder="Übungssatz" class="textarea-responsive" maxlength="120"></textarea>
            <input type="image" onclick="" src="{% static 'assets/images/PPP Icon Bin.svg' %}" id="clear"
                style="position: absolute; width: 28px; height: 28px; opacity: 0; transition: opacity 3s;pointer-events:none;" alt="Müll Icon">
        </p>

        <p align="center" id="textarea-error" class="error"></p>
        <br>
        <hr style="height:1px; visibility:hidden; margin-bottom:-1px;">
        <div class="generator" align="center" style="display:flex; align-items: center;justify-content: center;">
            <h5 style="color:var(--rosa);font-size:min(24px, 6vw);font-weight:500;">ODER</h5>
            <div class="dropdown" style="margin-left:1em;margin-right:1em;">
                <div class="select">
                    <span>{{ textgenerator.0 }}</span>
                    <i class="fa fa-chevron-left"></i>
                </div>
                <input type="hidden" name="satzart" value="{{ textgenerator.0 }}">
                <ul class="dropdown-menu">
                    {% for satzart in textgenerator %}
                    <li content="{{ satzart }}">{{ satzart }}</li>
                    {% endfor %}
                </ul>
            </div>

            <button type="button" onclick="generieren()" id="generieren">generieren</button>
        </div>
    </div>

    <div class="responseArea-responsive" id="responseArea"
        style="left:50%;transform: translate(-50%, -15px);position:relative;transition: 1s;visibility:hidden;background-color:white;opacity:0;margin-top:2em;">
        <img id="loadingSymbol" src="{% static 'assets/images/lade-symbol.svg' %}" width="auto"
            style="max-height:80%;max-width:50%;position:absolute;top:50%; left: 75%; transform: translate(-50%, -50%);transition: 0.2s;pointer-events:none;"
            alt="lädt...">

        <div id="responseText" style="margin: 0;padding:0;top:0;left:0;width:50%;">
            <div class="farbigeAntwort"></div>

        </div>
    </div>




    <div class="wrap-button-container">
        <button type="button" id="weiterueben" class="weiterueben">weiter üben</button>

        <canvas id="waveform"
            style="position:absolute;transform: translate(-50%, -50%);left:50%;top:50%;width: 330%; border:none; outline:none; margin-top:9%;"></canvas>
        {% csrf_token %}
        <button class="glow-on-hover" onclick="togglerecord()" id="toggle-record" value="bereit" style="margin: 0.5em;">

            <img id="mikrofonIcon" src="{% static 'assets/images/Mikrofon.svg' %}" style="filter: invert(1);"
                alt="Mikrofon Icon">

        </button>
        <button type="button" id="abbrechen-wiederholen" class="abbrechen-wiederholen">abbrechen</button>

    </div>

    <div align="center">
        <br>
        <span id="aufnehmen-fehlermeldung" class="error" style="transition: 1s; opacity: 0;"></span>
        <noscript>Bitte aktiviere JavaScript, um den AusspracheTrainer zu benutzen.</noscript>
    </div>
    <div class="basis-information-container">
        <h1 style="font-size: min(2em, 10vw);">Dein <strong>intelligenter</strong> AusspracheTrainer</h1>
        <h4 style="line-height: 1.5em;margin-left: 5%; margin-right: 5%; font-size: max(1.5vh, 18px);">...analysiert
            einen vorgelesenen Satz auf Verständlichkeit und Sprachfehler. Er wurde in Zusammenarbeit mit Logopäden
            entwickelt, um die Deutlichkeit im Alltag zu verbessern.</h4>
    </div>
    <!--https://codepen.io/adarshm07/pen/wvBdpBV-->
    <!--https://freefrontend.com/css-sliders/-->

    <br>
    <div class="features" style="margin:auto;height: 450px; width:min(85vw, 400px);">
        <div class="feature active">
            <h2>Verständlichkeit prüfen</h2>
            <img src="{% static '/assets/images/human-in-front-of-mirroricon.svg' %}" width="40%" alt="Mensch vor einem Spiegel">
            <p>Vor dem Spiegel üben war gestern - heutzutage ist künstliche Intelligenz (KI) Dein persönlicher
                Zuhörer.<br><br>Außerdem erhälst Du eine ausführliche Rückmeldung.</p>
        </div>
        <div class="feature">
            <h2>logopädische Analyse</h2>
            <img src="{% static '/assets/images/waveform-icon.svg' %}" width="40%" alt="Waveform einer Audio">
            <p>Der AusspracheTrainer ist in Zusammenarbeit mit Logopäden entwickelt worden.<br><br>Falls bei Dir
                Verdacht auf Sprachfehler besteht, generiere einen logopädischen Satz und lies ihn vor.</p>

        </div>
        <div class="feature">
            <h2>kostenlos und blitzschnell</h2>
            <img src="{% static '/assets/images/blitz-icon.svg' %}" width="40%" alt="Blitz">
            <p>Beim AusspracheTrainer handelt es sich um ein nichtkommerzielles Open-Source Projekt.<br><br>Es wird
                neuste Technologie verwendet - innerhalb weniger Sekunden ist Dein Ergebnis da!</p>

        </div>

        <button class="feature-button previous-feature" onclick="features_backward()">&#8249;</button>
        <button class="feature-button next-feature" onclick="features_forward()">&#8250;</button>
        <div class="active-indicator-wrapper">
            <div class="active-indicator active"></div>
            <div class="active-indicator"></div>
            <div class="active-indicator"></div>
        </div>
    </div>

    <div class="funktionsweise">
        <h2 class="funktionsweise-heading">Funktionsweise</h2>
        <div class="outer" style="margin:auto;">
            <div class="card">
                <div class="info">
                    <h3 class="title">Satz ausdenken oder generieren</h3>
                    <p align="justify">Übe Sätze aus dem Unterricht, Filmen & Texten oder lass Deinem kreativen Geist
                        freien Lauf. Andernfalls kannst Du zufällige und logopädische Sätze generieren.<br>Tipp: Achte
                        beim Übungssatz darauf, dass Du auf Homographe (Wörter mit unterschiedlicher
                        Aussprache) verzichtest, um noch genauere Ergebnisse zu erhalten.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="info">
                    <h3 class="title">Audio aufnehmen</h3>
                    <p align="justify">Drücke, nachdem ein Satz gewählt wurde, auf den Button, um die Aufnahme zu
                        starten. Hierfür wird Zugriff auf Dein Mikrofon benötigt. Achte beim Sprechen darauf, dass Du
                        den genauen Satz vorliest. Drücke zum Beenden der Aufnahme erneut
                        auf den Button.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="info">
                    <h3 class="title">Analyse</h3>
                    <p align="justify">Nachdem Du die vorherigen Schritte abgearbeitet hast, kannst Du Dir eine Pause
                        gönnen. In der Zeit wird Deine Audio von Google, IBM und einer eigenen KI transkribiert und die
                        Transkripte anschließend ausgewertet. Dieser Prozess dauert
                        weniger als 30 Sekunden.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="info">
                    <h3 class="title">Auswertung</h3>
                    <p align="justify">Wenn die Auswertung abgeschlossen ist wird Dir Dein Ergebnis farblich angezeigt.
                        Von Grün zu Rot ist deine Artikulation pro Buchstabe qualitativ geordnet. Zusätzlich siehst du
                        einen Score, der sich aus der Verständlichkeit Deines Satzes
                        abzüglich zu viel verstandenen Satzteilen zusammensetzt.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="info">
                    <h3 class="title">Zusätzliche Informationen</h3>
                    <p align="justify">Über die vorher erläuterten Infos hinaus hast Du die Möglichkeit Dir anzusehen,
                        was Google, IBM oder unsere eigene KI (Achtung Lautschrift; als Referenz ändert sich das
                        Textfeld mit dem Übungssatz auch) verstanden hat. Außerdem erhälst
                        Du eine logopädische Fehleranalyse, jene Dir gegebenfalls mögliche Sprachfehler anzeigt.
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!--<script src="{% static 'assets/js/recorder.js' %}"></script>-->
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>

    <script src="{% static 'assets/js/lesbar.js' %}"></script>
    <script src="{% static 'assets/js/wave.js' %}"></script>

</body>

</html>